body {
    font-family: Arial, sans-serif;
    background-color: #1a1a1a;
    color: #fff;
    text-align: center;
}


/* Contenedor de autenticación */

#auth-container {
    position: absolute;
    top: 20px;
    right: 20px;
}

#login-button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
}

#user-info {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
}

#user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

#username-display {
    font-weight: bold;
    color: #f8d000;
}

#dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #333;
    padding: 10px;
    display: none;
    border-radius: 5px;
}

#user-info:hover #dropdown-menu {
    display: block;
}

#dropdown-menu button {
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
}

#collection-filter {
    margin: 20px;
    color: #fff;
}

#collection-select {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #121212;
    color: #f1f1f1;
}

h1 {
    color: #ffd700;
}

#user-info {
    margin-bottom: 20px;
}

#collection {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    /* Columnas automáticas de mínimo 150px */
    gap: 20px;
    /* Espacio entre las cartas */
    justify-items: center;
    margin-top: 20px;
}

.card {
    width: 150px;
    padding: 10px;
    background-color: #1e1e1e;
    border: 1px solid #333;
    border-radius: 10px;
    text-align: center;
    transition: transform 0.2s;
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.card h3 {
    margin: 10px 0 5px 0;
    font-size: 16px;
    color: #ffd700;
}

.card p {
    margin: 5px 0;
    font-size: 14px;
    color: #cfcfcf;
}


/* Efecto al pasar el ratón */

.card:hover {
    transform: scale(1.05);
}