body {
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    color: #333;
}

#collection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.card {
    width: 150px;
    margin: 5px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
    transition: transform 0.2s;
}

.card img {
    width: 100px;
    height: 100px;
}


/* Marcos de cartas según la rareza */

.legendary {
    border: 4px solid gold;
}

.rare {
    border: 4px solid silver;
}

.common {
    border: 4px solid bronze;
}

.card-not-owned {
    opacity: 0.3;
    filter: grayscale(100%);
}

.card-owned {
    opacity: 1;
}